@font-face { 
    font-family: 'Nippo Variable';
    src: url('fonts/Nippo-Variable.ttf') format('ttf');
    font-weight: 1 1000; /* Ajusta según los pesos disponibles */
    font-style: normal;
}

@font-face {
    font-family: 'Amulya Variable';
    src: url('fonts/Amulya-Variable.ttf') format('ttf');
    font-weight: 1 1000; /* Ajusta según los pesos disponibles */
    font-style: normal;
}









body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Nippo Variable', sans-serif; 
    margin: 0;
    padding: 0;
    background-image: url('./login-100.jpg');
    background-size:cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: fixed; /* fija la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */




}

header {
    
    padding: 1rem;
    display:flex;
    justify-content:center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white; /* Contorno blanco */
    border-radius: 10px;
    padding: 1rem;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    box-sizing: border-box; /* Incluye el borde en el ancho total */
    height: 90px;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    position: fixed;
    z-index: 99;
    top: 0px;
    background-color: #120526;
}

.store-image {
    width: 300px; /* Ajusta el tamaño según sea necesario */
    height: 90;
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    object-fit: contain; /* Ajusta la imagen para que se mantenga dentro del contenedor */
}


main {
    padding: 1rem;
    z-index: 12;
}

nav {
    display:flex;
    list-style-type: none;
    padding: 0;
    justify-content:flex-end;
    align-items: center;
    flex-direction: row;
    height:77px;
    width:262px;
    
    }
    nav ul{
        display:flex;
        justify-content:center;
        align-items: center;
        flex-direction: row;

    }
    
    nav ul li {
        display: inline;
        margin: 0 1rem;
        padding:4px;
    }
    
    
    nav ul li a {
        color: white;
        text-decoration: none;
    
    }
.spacer{
        height:100px;
        z-index: 12;
    }


    .product-container {
        background-color: #120526; /* Violeta oscuro */
        border: 2px solid white;
        border-radius: 15px;
        text-align: center;
        padding: 20px;
        margin: 20px auto;
        width: 300px;
    }
    
    .product-image {
        width: 100%;
        border-radius: 10px;
    }
    
    .product-name {
        color: white;
        font-size: 32px;
        margin: 10px 0;
        font-family: "Nippo Variable", sans-serif;
        font-weight: bold;
    }
    
    .product-price {
        color: white;
        font-size: 20px;
        font-family: "Amulya Variable", sans-serif;
        
    }