
@font-face { 
    font-family: 'Nippo Variable';
    src: url('fonts/Nippo-Variable.ttf') format('ttf');
    font-weight: 1 1000; /* Ajusta según los pesos disponibles */
    font-style: normal;
}

@font-face {
    font-family: 'Amulya Variable';
    src: url('fonts/Amulya-Variable.ttf') format('ttf');
    font-weight: 1 1000; /* Ajusta según los pesos disponibles */
    font-style: normal;
}









body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'Nippo Variable', sans-serif; 
    margin: 0;
    padding: 0;
    background-image: url('./login-100.jpg');
    background-size:cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: fixed; /* fija la imagen en el fondo */
    background-repeat: no-repeat; /* Evita que la imagen se repita */




}





.login-container {
    background-color: #120526; /* Violeta */
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    top:70px;

}

.login-container h2 {
    color: white;
    margin-bottom: 20px;
    font-family: 'Nippo Variable', sans-serif ;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
}

.input-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
}

.login-button {
    background-color: #009cbe;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

.login-button:hover {
    background-color: #007ba7;
}

.social-login {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.social-login i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.social-login i:hover {
    color: #ddd;
}

.login-container p {
    color: white;
    margin: 10px 0;
}

.login-container a {
    color: #009cbe;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}
header {
    background-color: #120526;
    padding: 1rem;
    display:flex;
    justify-content:center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white; /* Contorno blanco */
    border-radius: 10px;
    padding: 1rem;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    box-sizing: border-box; /* Incluye el borde en el ancho total */
    height: 90px;
    overflow: hidden; /* Asegura que el contenido no se desborde */
    position: fixed;
    z-index: 99;
    top: 0px;
    background-color: #120526;
}

.store-image {
    width: 300px; /* Ajusta el tamaño según sea necesario */
    height: 90;
    max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    object-fit: contain; /* Ajusta la imagen para que se mantenga dentro del contenedor */
}


main {
    padding: 1rem;
    z-index: 12;
}

nav {
    display:flex;
    list-style-type: none;
    padding: 0;
    justify-content:flex-end;
    align-items: center;
    flex-direction: row;
    height:77px;
    width:262px;
    
    }
    nav ul{
        display:flex;
        justify-content:center;
        align-items: center;
        flex-direction: row;

    }
    
    nav ul li {
        display: inline;
        margin: 0 1rem;
        padding:4px;
    }
    
    
    nav ul li a {
        color: white;
        text-decoration: none;
    
    }
.spacer{
        height:100px;
        z-index: 12;
    }
